@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Merienda', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.title {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 500;
  font-size: 1.8rem;
}

.logo {
  width: 5rem;
}

.btn {
  font-family: inherit;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 1.8rem;
  padding: 0.8rem 2rem;
  border-radius: 2px;
  transition: all 0.3s;
}

.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #d3d3d3;
  color: #111;
}
.btn:active {
  scale: 0.98;
}

.welcome-photo-container {
  /* background-image: url(./images/slider2.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* min-height: 100vh; */
  position: relative;
}
.welcome-photo {
  width: 100%;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #fff;
}

/* About */
.section-about,
.section-menu {
  margin: 10rem auto;
  max-width: 1200px;
}

.about-text,
.menu-text {
  text-align: center;
  margin-bottom: 2rem;
}

.heading-secondary {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.item-description {
  font-size: 1.8rem;
  color: #333;
}

.heading-tertiary {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
  font-weight: 500;
}

.about-grid {
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.about-img {
  max-width: 100%;
  height: 100%;
}

/* Menu */
.menus-container {
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: #f8f9fa;
  align-items: start;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.menu-photo {
  width: 100%;
  height: 230px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.menu-heading {
  margin-top: 2rem;
  text-align: left;
  margin-left: 2rem;
  align-self: flex-start;
}

.menu-list {
  padding: 2rem;
  list-style: none;
  transition: all 0.5s;
}
.menu-list:hover {
  scale: 1.1;
}

.menu-list-item {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  border-top: 1px solid #d3d3d3;
  border-left: 0;
  border-radius: 0;
}

.menu-list-item:last-child {
  border-bottom: 0;
}
